/*Common*/

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

/*Common*/



/*Navigation*/

.nav-titlep{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-subtitle{
    font-size: 1.15rem;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-item{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-anchor{
    color: #585123;
}

#home-anchor{
    color: #69140e;
    background-color: #a44200;
}

.nav-item .nav-anchor:hover{
    background-color: #a58936;
    color: #f2f3ae;
}

/*Navigation*/



/*register*/

.reg-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-date{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-location{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-reg-by-date{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-button-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-titlep{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.reg-datep{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.reg-locationp{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.reg-reg-by-datep{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.reg-button-titlep{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.reg-buttonb{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #a58936;
    border-radius: 10%;
}

.reg-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*register*/



/*Mone*/

.mon-storyp{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mon-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mon-titlep{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: bolder;
}

#mon-profile{
    border-radius: 50%;
}

/*Mone*/



/*FJ*/

.fj-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fj-titlep{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: bolder;
}

#fj-profile{
    border-radius: 50%;
}

.fj-storyp{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*FJ*/





/*---------------------------------------------------------------------------------------------------------------------------------------*/

/* Media Queries*/


/*min-width 1200px*/
@media screen and (min-width: 1200px) {
/*Navigation*/

.nav-container{
    position: static;
    max-height: 15%;
    display: grid;
    grid-template-rows: repeat(4, min-content) 1fr;
}

.nav-title{
    display: flex;
    grid-row-start: 1;
    justify-content: center;
    align-items: center;
}

.nav-subtitle{
    display: flex;
    grid-row-start: 2;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    display: flex;
    grid-row-start: 4;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2%;
    margin-top: 5px;
    padding-bottom: 3%;
}

.nav-hr{
    width: 100%;
    border: black 1px solid;
    grid-row-start: 3;
}
/*Navigation*/

/*register*/

.reg-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(10, min-content) 1fr;
}

.reg {
    grid-column-start: 1;
}

.reg-img-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(3 min-content);
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 10;
}

#reg-image1{
    grid-column-start: 1;
    grid-row-start: 1;
}

#reg-image2{
    grid-column-start: 2;
    grid-row-start: 2;

}

#reg-image3{
    grid-column-start: 3;
    grid-row-start: 3;

}
/*registers*/


/*The Couple*/
.cou-container{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-image: linear-gradient(to right,#a58936, #f2f3ae);
}
/*The Couple*/


/*Mone*/
.mon-container{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(3 min-content);
}

.mon-title{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 2;
}

.mon-story{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

#mon-div-image1{
    grid-column-start: 2;
}

#mon-div-image2{
    grid-column-start: 1;
}

#mon-div-image3{
    grid-column-start: 3;
}

/*Mone*/


/*FJ*/

.fj-container{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(3 min-content);
}

.fj-title{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 2;
}

.fj-story{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

#fj-div-image1{
    grid-column-start: 2;
}

#fj-div-image2{
    grid-column-start: 1;
}

#fj-div-image3{
    grid-column-start: 3;
}

/*FJ*/

/*Our Story*/

.str-container{
    display: grid;
    grid-template-columns: 23% 28% 4% 22% 23%;
    grid-auto-rows: none;
    margin-top: 5%;
}

.str-image{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.str-story{
    margin-top: 10%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 85%;
    background-color: #f2f3ae;
    display: grid;
    grid-template-rows: repeat(3 min-content);
}
/*Our Story*/

/*Media Gallery*/

.med-container{
    display: grid;
    grid-template-columns: 12% 12% 12% 12%;
    gap: 3px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.med-col1{
    display: grid;
    grid-template-rows: repeat(2 min-content);
    
}

.med-col2{
    display: grid;
    grid-template-rows: repeat(3 min-content);
}

.med-col3{
    display: grid;
    grid-template-rows: repeat(2 min-content);
}

.med-col4{
    display: grid;
    grid-template-rows: repeat(3 min-content);
}

/*Media Gallery*/

}
/*min-width 1200px*/

/*-----------------------------------------------------------------------*/

/*min-width 100px*/
@media (min-width: 1001px) AND (max-width: 1100px) {
    /*Navigation*/
    
    .nav-container{
        position: static;
        max-height: 15%;
        display: grid;
        grid-template-rows: repeat(4, min-content) 1fr;
    }
    
    .nav-title{
        display: flex;
        grid-row-start: 1;
        justify-content: center;
        align-items: center;
    }
    
    .nav-subtitle{
        display: flex;
        grid-row-start: 2;
        justify-content: center;
        align-items: center;
    }
    
    .nav-bar{
        display: flex;
        grid-row-start: 4;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2%;
        margin-top: 5px;
        padding-bottom: 3%;
    }
    
    .nav-hr{
        width: 100%;
        border: black 1px solid;
        grid-row-start: 3;
    }
    /*Navigation*/
    
    /*register*/
    
    .reg-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(10, min-content) 1fr;
    }
    
    .reg {
        grid-column-start: 1;
    }
    
    .reg-img-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 10;
    }
    
    #reg-image1{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    #reg-image2{
        grid-column-start: 2;
        grid-row-start: 2;
    
    }
    
    #reg-image3{
        grid-column-start: 3;
        grid-row-start: 3;
    
    }
    /*registers*/
    
    
    /*The Couple*/
    .cou-container{
        margin-top: 3%;
        display: grid;
        grid-template-columns: 50% 50%;
        background-image: linear-gradient(to right,#a58936, #f2f3ae);
    }
    /*The Couple*/
    
    
    /*Mone*/
    .mon-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
    }
    
    .mon-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .mon-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #mon-div-image1{
        grid-column-start: 2;
    }
    
    #mon-div-image2{
        grid-column-start: 1;
    }
    
    #mon-div-image3{
        grid-column-start: 3;
    }
    
    /*Mone*/
    
    
    /*FJ*/
    
    .fj-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
    }
    
    .fj-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .fj-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #fj-div-image1{
        grid-column-start: 2;
    }
    
    #fj-div-image2{
        grid-column-start: 1;
    }
    
    #fj-div-image3{
        grid-column-start: 3;
    }
    
    /*FJ*/
    
    /*Our Story*/
    
    .str-container{
        display: grid;
        grid-template-columns: 15% 33% 4% 32% 15%;
        grid-auto-rows: none;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    
    .str-image{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 450px;
        width: 350px;
    }

    .str-image1{
        height: 450px;
        width: 350px;
    }
    
    .str-story{
        margin-top: 10%;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 85%;
        background-color: #f2f3ae;
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    /*Our Story*/
    
    /*Media Gallery*/
    
    .med-container{
        display: grid;
        grid-template-columns: 16% 16% 16% 16%;
        gap: 3px;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    
    .med-col1{
        display: grid;
        grid-template-rows: repeat(2 min-content);
        
    }
    
    .med-col2{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-col3{
        display: grid;
        grid-template-rows: repeat(2 min-content);
    }
    
    .med-col4{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-img{
        height: 150px;
        width: 150px;
    }
    
    /*Media Gallery*/
    
    }
    /*min-width 1000px*/

/*-----------------------------------------------------------------------*/

/*min-width 900px*/
@media (min-width: 900px) AND (max-width: 1000px) {
    /*Navigation*/
    
    .nav-container{
        position: static;
        max-height: 15%;
        display: grid;
        grid-template-rows: repeat(4, min-content) 1fr;
    }
    
    .nav-title{
        display: flex;
        grid-row-start: 1;
        justify-content: center;
        align-items: center;
    }
    
    .nav-subtitle{
        display: flex;
        grid-row-start: 2;
        justify-content: center;
        align-items: center;
    }
    
    .nav-bar{
        display: flex;
        grid-row-start: 4;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2%;
        margin-top: 5px;
        padding-bottom: 3%;
    }
    
    .nav-hr{
        width: 100%;
        border: black 1px solid;
        grid-row-start: 3;
    }
    /*Navigation*/
    
    /*register*/
    
    .reg-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(10, min-content) 1fr;
    }
    
    .reg {
        grid-column-start: 1;
    }
    
    .reg-img-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 10;
    }
    
    #reg-image1{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    #reg-image2{
        grid-column-start: 2;
        grid-row-start: 2;
    
    }
    
    .reg-image{
        height: 150px;
        width: 140px;
    }

    #reg-image3{
        grid-column-start: 3;
        grid-row-start: 3;
    
    }
    /*registers*/
    
    
    /*The Couple*/
    .cou-container{
        margin-top: 3%;
        display: grid;
        grid-template-columns: 50% 50%;
        background-image: linear-gradient(to right,#a58936, #f2f3ae);
    }
    /*The Couple*/
    
    
    /*Mone*/
    .mon-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
    }
    
    .mon-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .mon-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #mon-div-image1{
        grid-column-start: 2;
    }
    
    #mon-div-image2{
        grid-column-start: 1;
    }
    
    #mon-div-image3{
        grid-column-start: 3;
    }
    
    .mon-images{
        height: 145px;
        width: 140px;
    }

    /*Mone*/
    
    
    /*FJ*/
    
    .fj-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
    }
    
    .fj-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .fj-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #fj-div-image1{
        grid-column-start: 2;
    }
    
    #fj-div-image2{
        grid-column-start: 1;
    }
    
    #fj-div-image3{
        grid-column-start: 3;
    }

    .fj-images{
        height: 145px;
        width: 140px;
    }
    
    /*FJ*/
    
    /*Our Story*/
    
    .str-container{
        display: grid;
        grid-template-columns: 13% 37% 4% 32% 13%;
        grid-auto-rows: none;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    
    .str-image{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 450px;
        width: 350px;
    }

    .str-image1{
        height: 450px;
        width: 350px;
    }
    
    .str-story{
        margin-top: 10%;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 85%;
        background-color: #f2f3ae;
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    /*Our Story*/
    
    /*Media Gallery*/
    
    .med-container{
        display: grid;
        grid-template-columns: 18% 18% 18% 18%;
        gap: 3px;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    
    .med-col1{
        display: grid;
        grid-template-rows: repeat(2 min-content);
        
    }
    
    .med-col2{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-col3{
        display: grid;
        grid-template-rows: repeat(2 min-content);
    }
    
    .med-col4{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-img{
        height: 150px;
        width: 150px;
    }
    
    /*Media Gallery*/
    
    }
    /*min-width 1100px*/


/*-----------------------------------------------------------------------*/

/*min-width 1100px*/
@media (min-width: 1101px) AND (max-width: 1200px) {
    /*Navigation*/
    
    .nav-container{
        position: static;
        max-height: 15%;
        display: grid;
        grid-template-rows: repeat(4, min-content) 1fr;
    }
    
    .nav-title{
        display: flex;
        grid-row-start: 1;
        justify-content: center;
        align-items: center;
    }
    
    .nav-subtitle{
        display: flex;
        grid-row-start: 2;
        justify-content: center;
        align-items: center;
    }
    
    .nav-bar{
        display: flex;
        grid-row-start: 4;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2%;
        margin-top: 5px;
        padding-bottom: 3%;
    }
    
    .nav-hr{
        width: 100%;
        border: black 1px solid;
        grid-row-start: 3;
    }
    /*Navigation*/
    
    /*register*/
    
    .reg-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(10, min-content) 1fr;
    }
    
    .reg {
        grid-column-start: 1;
    }
    
    .reg-img-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 10;
    }
    
    #reg-image1{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    #reg-image2{
        grid-column-start: 2;
        grid-row-start: 2;
    
    }
    
    #reg-image3{
        grid-column-start: 3;
        grid-row-start: 3;
    
    }
    /*registers*/
    
    
    /*The Couple*/
    .cou-container{
        margin-top: 3%;
        display: grid;
        grid-template-columns: 50% 50%;
        background-image: linear-gradient(to right,#a58936, #f2f3ae);
    }
    /*The Couple*/
    
    
    /*Mone*/
    .mon-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
    }
    
    .mon-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .mon-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #mon-div-image1{
        grid-column-start: 2;
    }
    
    #mon-div-image2{
        grid-column-start: 1;
    }
    
    #mon-div-image3{
        grid-column-start: 3;
    }
    
    /*Mone*/
    
    
    /*FJ*/
    
    .fj-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
    }
    
    .fj-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .fj-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #fj-div-image1{
        grid-column-start: 2;
    }
    
    #fj-div-image2{
        grid-column-start: 1;
    }
    
    #fj-div-image3{
        grid-column-start: 3;
    }
    
    /*FJ*/
    
    /*Our Story*/
    
    .str-container{
        display: grid;
        grid-template-columns: 17% 33% 4% 28% 17%;
        grid-auto-rows: none;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    
    .str-image{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 450px;
        width: 350px;
    }

    .str-image1{
        height: 450px;
        width: 430px;
    }
    
    .str-story{
        margin-top: 10%;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 85%;
        background-color: #f2f3ae;
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    /*Our Story*/
    
    /*Media Gallery*/
    
    .med-container{
        display: grid;
        grid-template-columns: 13% 13% 13% 13%;
        gap: 3px;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    
    .med-col1{
        display: grid;
        grid-template-rows: repeat(2 min-content);
        
    }
    
    .med-col2{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-col3{
        display: grid;
        grid-template-rows: repeat(2 min-content);
    }
    
    .med-col4{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-img{
        height: 150px;
        width: 150px;
    }
    
    /*Media Gallery*/
    
    }
    /*min-width 900px*/

    /*-----------------------------------------------------------------------*/

/*min-width 700px*/
@media (min-width: 700px) AND (max-width: 900px) {
    /*Navigation*/
    
    .nav-container{
        position: static;
        max-height: 15%;
        display: grid;
        grid-template-rows: repeat(4, min-content) 1fr;
    }
    
    .nav-title{
        display: flex;
        grid-row-start: 1;
        justify-content: center;
        align-items: center;
    }
    
    .nav-subtitle{
        display: flex;
        grid-row-start: 2;
        justify-content: center;
        align-items: center;
    }
    
    .nav-bar{
        display: flex;
        grid-row-start: 4;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2%;
        margin-top: 5px;
        padding-bottom: 3%;
    }
    
    .nav-hr{
        width: 100%;
        border: black 1px solid;
        grid-row-start: 3;
    }
    /*Navigation*/
    
    /*register*/
    
    .reg-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(10, min-content) 1fr;
    }
    
    .reg {
        grid-column-start: 1;
    }
    
    .reg-img-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 10;
    }
    
    #reg-image1{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    #reg-image2{
        grid-column-start: 2;
        grid-row-start: 2;
    
    }
    
    .reg-image{
        height: 145px;
        width: 135px;
    }

    #reg-image3{
        grid-column-start: 3;
        grid-row-start: 3;
    
    }
    /*registers*/
    
    
    /*The Couple*/
    .cou-container{
        margin-top: 3%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(2 min-content);
        background-image: linear-gradient(to right,#a58936, #f2f3ae);
    }
    /*The Couple*/
    
    
    /*Mone*/
    .mon-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    .mon-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .mon-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #mon-div-image1{
        grid-column-start: 2;
    }
    
    #mon-div-image2{
        grid-column-start: 1;
    }
    
    #mon-div-image3{
        grid-column-start: 3;
    }
    
    .mon-images{
        height: 145px;
        width: 140px;
    }

    /*Mone*/
    
    
    /*FJ*/
    
    .fj-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .fj-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .fj-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #fj-div-image1{
        grid-column-start: 2;
    }
    
    #fj-div-image2{
        grid-column-start: 1;
    }
    
    #fj-div-image3{
        grid-column-start: 3;
    }

    .fj-images{
        height: 145px;
        width: 140px;
    }
    
    /*FJ*/
    
    /*Our Story*/
    
    .str-container{
        display: grid;
        grid-template-columns: 13% 37% 4% 32% 13%;
        grid-auto-rows: none;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    
    .str-image{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 450px;
        width: 320px;
    }

    .str-image1{
        height: 450px;
        width: 350px;
    }
    
    .str-story{
        margin-top: 10%;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 85%;
        background-color: #f2f3ae;
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    /*Our Story*/
    
    /*Media Gallery*/
    
    .med-container{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        gap: 3px;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    
    .med-col1{
        display: grid;
        grid-template-rows: repeat(2 min-content);
        
    }
    
    .med-col2{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-col3{
        display: grid;
        grid-template-rows: repeat(2 min-content);
    }
    
    .med-col4{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-img{
        height: 150px;
        width: 150px;
    }
    
    /*Media Gallery*/
    
    }
    /*min-width 700px*/


    /*-----------------------------------------------------------------------*/

/*min-width 600px*/
@media (min-width: 600px) AND (max-width: 700px) {
    /*Navigation*/
    
    .nav-container{
        position: static;
        max-height: 15%;
        display: grid;
        grid-template-rows: repeat(4, min-content) 1fr;
    }
    
    .nav-title{
        display: flex;
        grid-row-start: 1;
        justify-content: center;
        align-items: center;
    }
    
    .nav-subtitle{
        display: flex;
        grid-row-start: 2;
        justify-content: center;
        align-items: center;
    }
    
    .nav-bar{
        display: flex;
        grid-row-start: 4;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2%;
        margin-top: 5px;
        padding-bottom: 3%;
    }
    
    .nav-hr{
        width: 100%;
        border: black 1px solid;
        grid-row-start: 3;
    }
    /*Navigation*/
    
    /*register*/
    
    .reg-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(10, min-content) 1fr;
    }
    
    .reg {
        grid-column-start: 1;
    }
    
    .reg-img-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 10;
    }
    
    #reg-image1{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    #reg-image2{
        grid-column-start: 2;
        grid-row-start: 2;
    
    }
    
    .reg-image{
        height: 135px;
        width: 120px;
    }

    #reg-image3{
        grid-column-start: 3;
        grid-row-start: 3;
    
    }
    /*registers*/
    
    
    /*The Couple*/
    .cou-container{
        margin-top: 3%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(2 min-content);
        background-image: linear-gradient(to right,#a58936, #f2f3ae);
    }
    /*The Couple*/
    
    
    /*Mone*/
    .mon-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .mon-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .mon-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #mon-div-image1{
        grid-column-start: 2;
    }
    
    #mon-div-image2{
        grid-column-start: 1;
    }
    
    #mon-div-image3{
        grid-column-start: 3;
    }
    
    .mon-images{
        height: 145px;
        width: 140px;
    }

    /*Mone*/
    
    
    /*FJ*/
    
    .fj-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .fj-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .fj-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #fj-div-image1{
        grid-column-start: 2;
    }
    
    #fj-div-image2{
        grid-column-start: 1;
    }
    
    #fj-div-image3{
        grid-column-start: 3;
    }

    .fj-images{
        height: 145px;
        width: 140px;
    }
    
    /*FJ*/
    
    /*Our Story*/
    
    .str-container{
        display: grid;
        grid-template-columns: 13% 37% 4% 32% 13%;
        grid-auto-rows: none;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    
    .str-image{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 390px;
        width: 300px;
    }

    .str-image1{
        height: 400px;
        width: 300px;
    }
    
    .str-story{
        margin-top: 10%;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 85%;
        background-color: #f2f3ae;
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    /*Our Story*/
    
    /*Media Gallery*/
    
    .med-container{
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 3px;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    
    .med-col1{
        display: grid;
        grid-template-rows: repeat(2 min-content);
        
    }
    
    .med-col2{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-col3{
        display: grid;
        grid-template-rows: repeat(2 min-content);
    }
    
    .med-col4{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-img{
        height: 150px;
        width: 150px;
    }
    
    /*Media Gallery*/
    
    }
    /*min-width 600px*/


        /*-----------------------------------------------------------------------*/

/*min-width 500px*/
@media (min-width: 500px) AND (max-width: 600px) {
    /*Navigation*/
    
    .nav-container{
        position: static;
        max-height: 15%;
        display: grid;
        grid-template-rows: repeat(4, min-content) 1fr;
    }
    
    .nav-title{
        display: flex;
        grid-row-start: 1;
        justify-content: center;
        align-items: center;
    }
    
    .nav-subtitle{
        display: flex;
        grid-row-start: 2;
        justify-content: center;
        align-items: center;
    }
    
    .nav-bar{
        display: flex;
        grid-row-start: 4;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2%;
        margin-top: 5px;
        padding-bottom: 3%;
    }
    
    .nav-hr{
        width: 100%;
        border: black 1px solid;
        grid-row-start: 3;
    }
    /*Navigation*/
    
    /*register*/
    
    .reg-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2 min-content);
        gap: 15px;
    }
    
    .reg {
        grid-column-start: 1;
    }
    
    .reg-img-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-row-start: 2;
        justify-content: center;
        align-items: center;
    }
    
    #reg-image1{
        grid-column-start: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #reg-image2{
        grid-column-start: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .reg-image{
        height: 135px;
        width: 120px;
    }

    #reg-image3{
        grid-column-start: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*registers*/
    
    
    /*The Couple*/
    .cou-container{
        margin-top: 3%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(2 min-content);
        background-image: linear-gradient(to right,#a58936, #f2f3ae);
    }
    /*The Couple*/
    
    
    /*Mone*/
    .mon-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .mon-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .mon-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #mon-div-image1{
        grid-column-start: 2;
    }
    
    #mon-div-image2{
        grid-column-start: 1;
    }
    
    #mon-div-image3{
        grid-column-start: 3;
    }
    
    .mon-images{
        height: 145px;
        width: 140px;
    }

    /*Mone*/
    
    
    /*FJ*/
    
    .fj-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .fj-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .fj-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #fj-div-image1{
        grid-column-start: 2;
    }
    
    #fj-div-image2{
        grid-column-start: 1;
    }
    
    #fj-div-image3{
        grid-column-start: 3;
    }

    .fj-images{
        height: 145px;
        width: 140px;
    }
    
    /*FJ*/
    
    /*Our Story*/
    
    .str-container{
        display: grid;
        grid-template-columns: 48% 4% 48% ;
        grid-auto-rows: none;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    
    .str-image{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 390px;
        width: 350px;
    }

    .str-image1{
        height: 390px;
        width: 300px;
    }
    
    .str-story{
        margin-top: 10%;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 85%;
        background-color: #f2f3ae;
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    /*Our Story*/
    
    /*Media Gallery*/
    
    .med-container{
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 3px;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    
    .med-col1{
        display: grid;
        grid-template-rows: repeat(2 min-content);
        
    }
    
    .med-col2{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-col3{
        display: grid;
        grid-template-rows: repeat(2 min-content);
    }
    
    .med-col4{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-img{
        height: 110px;
        width: 110px;
    }
    
    /*Media Gallery*/
    
    }
    /*min-width 500px*/


    /*-----------------------------------------------------------------------*/

/*min-width 400px*/
@media (min-width: 400px) AND (max-width: 500px) {
    /*Navigation*/
    
    .nav-container{
        position: static;
        max-height: 15%;
        display: grid;
        grid-template-rows: repeat(4, min-content) 1fr;
    }
    
    .nav-title{
        display: flex;
        grid-row-start: 1;
        justify-content: center;
        align-items: center;
    }
    
    .nav-subtitle{
        display: flex;
        grid-row-start: 2;
        justify-content: center;
        align-items: center;
    }
    
    .nav-bar{
        display: flex;
        grid-row-start: 4;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5px;
        margin-top: 5px;
        padding-bottom: 3%;
    }
    
    .nav-hr{
        width: 100%;
        border: black 1px solid;
        grid-row-start: 3;
    }
    /*Navigation*/
    
    /*register*/
    
    .reg-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2 min-content);
        gap: 15px;
    }
    
    .reg {
        grid-column-start: 1;
    }
    
    .reg-img-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-row-start: 2;
        justify-content: center;
        align-items: center;
    }
    
    #reg-image1{
        grid-column-start: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #reg-image2{
        grid-column-start: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .reg-image{
        height: 110px;
        width: 110px;
    }

    #reg-image3{
        grid-column-start: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*registers*/
    
    
    /*The Couple*/
    .cou-container{
        margin-top: 3%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(2 min-content);
        background-image: linear-gradient(to right,#a58936, #f2f3ae);
    }
    /*The Couple*/
    
    
    /*Mone*/
    .mon-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .mon-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .mon-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #mon-div-image1{
        grid-column-start: 2;
    }
    
    #mon-div-image2{
        grid-column-start: 1;
    }
    
    #mon-div-image3{
        grid-column-start: 3;
    }
    
    .mon-images{
        height: 100px;
        width: 100px;
    }

    /*Mone*/
    
    
    /*FJ*/
    
    .fj-container{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3 min-content);
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .fj-title{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .fj-story{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #fj-div-image1{
        grid-column-start: 2;
    }
    
    #fj-div-image2{
        grid-column-start: 1;
    }
    
    #fj-div-image3{
        grid-column-start: 3;
    }

    .fj-images{
        height: 100px;
        width: 100px;
    }
    
    /*FJ*/
    
    /*Our Story*/
    
    .str-container{
        display: grid;
        grid-template-columns: 48% 4% 48% ;
        grid-auto-rows: none;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    
    .str-image{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 390px;
        width: 350px;
    }

    .str-image1{
        height: 390px;
        width: 300px;
    }
    
    .str-story{
        margin-top: 10%;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 85%;
        background-color: #f2f3ae;
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    /*Our Story*/
    
    /*Media Gallery*/
    
    .med-container{
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 3px;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    
    .med-col1{
        display: grid;
        grid-template-rows: repeat(2 min-content);
        
    }
    
    .med-col2{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-col3{
        display: grid;
        grid-template-rows: repeat(2 min-content);
    }
    
    .med-col4{
        display: grid;
        grid-template-rows: repeat(3 min-content);
    }
    
    .med-img{
        height: 80px;
        width: 80px;
    }
    
    /*Media Gallery*/
    
    }
    /*min-width 400px*/


/* Media Queries*/